@using GamerSchool.Common
@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated && User.IsInRole(ApplicationRoles.Admin))
{
    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
            <a href="/#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-cogs"> </i> Admin area<b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a href="/Admin/Articles"> <i class="fa fa-file-o fa-pull-right fa-in-dropdown"></i>Articles</a></li>

                <li class="divider"></li>
                <li><a href="/Admin/Categories"> <i class="fa fa-book fa-pull-right fa-in-dropdown"></i>Categories</a></li>

                <li class="divider"></li>
                <li><a href="/Admin/Shop"> <i class="fa fa-dollar fa-pull-right fa-in-dropdown"></i>Shop</a></li>

                <li class="divider"></li>
                <li><a href="/Admin/Users"> <i class="fa fa-users fa-pull-right fa-in-dropdown"></i>Users</a></li>
            </ul>
        </li>
    </ul>
}