<div class="jumbotron text-center">
    <h1><span class="text-danger">500</span></h1>
    <h1>H8 <span class="text-danger">THE DEV<small>il</small></span> AS HE H8 YOU</h1>
    <img src="~/Content/Images/500.jpg" />
    <br />
    <h2>
        <a href='/' class="text-info">GO H8 HOME</a>
    </h2>
</div>



