@using GamerSchool.Common
@model GamerSchool.Web.ViewModels.Academy.AcademyIndexViewModel
@{
    ViewBag.Title = "School";
}
<h2 class="text-center">Last Courses</h2>
<div class="container well">
    @if (Request.IsAuthenticated && (User.IsInRole(ApplicationRoles.Admin) || User.IsInRole(ApplicationRoles.Trainer)))
    {
        <div calss="row text-center">
            <div class="col-md-12">
                <a href="/Users/Course/Create" class="btn btn-md btn-primary full-width">Add new course</a>
            </div>
        </div>
    }
    @Html.Partial("../School/_CoursesPagedPartial", Model)
</div>