
@using GamerSchool.Web.Areas.Users.ViewModels.Comment
@model GamerSchool.Web.ViewModels.Lesson.LessonViewModel
@{
    ViewBag.Title = "Details for course " + Model.Title;
}
<div class="row">
    @Html.DisplayFor(x => Model, DisplayTemplatesPaths.LessonViewModelDetailed)
</div>
<div class="row">
    <div class="col-md-6">
        <div class="col-md-12">
            <h5>Comments</h5>
        </div>
        @if (User.Identity.IsAuthenticated)
        {
            <div class="col-md-12">
                @Html.Partial("~/Areas/Users/Views/Comment/_CreateCommentPartial.cshtml", new InputCommentViewModelCreate(Model.Id))
            </div>
        }
        @{Html.RenderAction("GetPageCommentsPartial", "Comment", new { area = "Users", articleId = Model.Id });}
    </div>
</div>
