@model IEnumerable<GamerSchool.Web.ViewModels.Comment.CommentViewModel>

    <div class="col-md-12 panel well">
        <ul class="list-group" id="comments">
            @foreach (var com in Model)
            {
                @Html.Partial("_SingleCommentPartial", com)
            }
        </ul>
    </div>




