@using GamerSchool.Common
@model GamerSchool.Web.ViewModels.Strategy.StrategyIndexViewModel
<hr />
@Html.Partial("_PaginationPartial", Model.PaginationModel)
<div class="row panel">
    @foreach (var art in Model.ArtArticles)
    {
        <div class="col-md-6 well">
            @Html.DisplayFor(model => art, DisplayTemplatesPaths.TutorialViewModel)
        </div>
    }
</div>
@Html.Partial("_PaginationPartial", Model.PaginationModel)
