@using GamerSchool.Common
@model GamerSchool.Web.ViewModels.FPS.FPSIndexViewModel
<hr />
@Html.Partial("_PaginationPartial", Model.PaginationModel)
<div class="row">
    @foreach (var art in Model.ArtArticles)
    {
        <div class="col-md-6">
            @Html.DisplayFor(model => art, DisplayTemplatesPaths.ArticleViewModel)
        </div>
    }
</div>
@Html.Partial("_PaginationPartial", Model.PaginationModel)
